<% if flash[:notice] %>
<p><%= flash[:notice]%></p>
<%end%>

<h1>Show Customer</h1>
<p>
<strong>Name</strong>
<%= @customer.name %>
</p>
<p>
<strong>Email</strong>
<%= @customer.email %>
</p>
<p>
<strong>Phone</strong>
<%= @customer.phone %>
</p>
<p>
